@import url('reset.css/reset');
@import url('./transition.scss');

@font-face {
  font-family: 'webmo';
  src: url('@/assets/font/webmo.woff2');
}

// * ::selection {
//   color: #fff;
//   background: #088;
// }

html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

.mg-10 {
  margin: 10px;
}

.pd-10 {
  padding: 10px;
}