@import url('reset.css/reset');
@import url('./transition.scss');

@font-face {
  font-family: 'webmo';
  src: url('@/assets/font/webmo.woff2');
}

@font-face {
  font-family: Marydale;
  src: url('@/assets/font/Marydale.ttf');
}

@font-face {
  font-family: 'oppo';
  font-weight: 400;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/gh/zetheme/zetheme/fonts/opposans400.ttf')format("truetype");
}

@font-face {
  font-family: 'oppo';
  font-weight: 500;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/gh/zetheme/zetheme/fonts/opposans500.ttf')format("truetype");
}

@font-face {
  font-family: SentyTEA;
  src: url('https://cdn.jsdelivr.net/gh/Redloney/CDN@1.0/static/SentyTEA.ttf');
}

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: oppo;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

.mt-10 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 20px;
}

.mx-10 {
  margin: 0 20px;
}

.my-10 {
  margin: 20px 0;
}

.pg-10 {
  padding: 20px;
}

.pt-10 {
  padding-left: 20px;
}

.pr-10 {
  padding-left: 20px;
}

.pl-10 {
  padding-left: 20px;
}

.pb-10 {
  padding-bottom: 20px;
}

.pg-10 {
  padding: 20px;
}

.px-10 {
  padding: 0 20px;
}

.py-10 {
  padding: 20px 0;
}

.ml-auto {
  margin-left: auto;
}

.mg-fff {
  background-color: #fff;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 3000;
}

// element-ui 默认样式

// .table-form {

//   .el-table__header-wrapper {
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }

//   .el-table__body-wrapper {
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }
// }
*::selection {
  background-color: #00bfff5e;
  color: #333;
}